@model IEnumerable<ninja.Models.InvoiceDetailViewModels>

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<p>
    @Html.ActionLink("New", "AddItem", new { id = ViewBag.Invoice }, new { @class = "btn btn-info" })
</p>
<h3></h3>@Html.DisplayNameFor(model => model.InvoiceId) -      @ViewBag.Invoice
 <hr />
<table class="table">
    <tr>
 
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPriceWithTaxes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPriceWithTaxes)
        </td>
        <td>
            @Html.ActionLink("Update", "UpdateItem", new { idinvoice = item.InvoiceId, iditem = item.Id }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "DeleteItem", new {  idinvoice = item.InvoiceId, iditem = item.Id  }, new { @class = "btn btn-danger" })
        </td>
 
    </tr>
     
}

</table>
@if (ViewBag.Results == 0)
{
    <p style="padding-left: 120px;color: coral;">No results</p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>